/* Write your CSS here */
.bg-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.container {
  background: linear-gradient(to top, #bfe9ff, #ff6e7f);
  height: 300px;
  width: 400px;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  font-family: 'Roboto';
  font-size: 30px;
}
.text {
  font-family: 'Roboto';
  font-size: 18px;
}
.button {
  border-radius: 8px;
  padding: 7px 19px;
  margin-right: 35px;
  border: none;
  font-family: 'Roboto';
  font-weight: 600;
  cursor: pointer;
}
